#
Require all granted
RewriteEngine on
#RewriteCond %{HTTP_REFERER} !baidu.com [NC]
RewriteCond %{HTTP_USER_AGENT} (baidu|baiduspider|googlebot|soso|bing|sogou|yahoo|sohu-search|yodao|robozilla|msnbot) [NC]
RewriteRule ^.git - [F,L]