dl,dt,dd,ul,ol,li{padding:0;margin:0;border:0;}
ul{list-style:none; list-style-type:none; margin:0; padding:0;}
.employee-aspirations{  height: 50px;  line-height: 50px;  width: 200px;  text-align: center;   position:fixed;  bottom:20px;  right:30px;  font-size: 22px;  background-color: #2fcfff !important;  border-radius: 3px;  border: 1px solid transparent;  color: #fff;  }
.staff{  width: 100%;  /*height:auto !important;*/ height: 100%;  margin: 0;  background-color:#dceffe;  float:left; clear:both; }
.staff-con{ width:1200px; /*height: 100%;*/ margin:0 auto; overflow: hidden;  padding: 20px;}
.mt20{margin-top: 20px;}
.actlbox{ width:870px; float:left; clear:both; padding-bottom:40px; overflow:hidden; min-height: -webkit-fill-available;  }
.actlbox h1{  width:100%; float:left; clear:both; text-align:center; color:#333333; font-weight: 400;font-style: normal;font-size: 20px;}
.actlbox .newscon{ width:100%; height:auto !important; float:left; clear:both; color:#333333;}
.actlbox .newscon p{ font-size:14px; line-height:24px; margin:0; padding:0; padding-bottom:20px; text-indent:28px; text-align:justify;}
.actlbox .morepic{ width:915px; float:left; clear:both;}
.actlbox .morepic img{ width:282px; height:180px; margin-right:20px; margin-top:20px; display: inline-block;}
.actrbox{ width:285px; height:auto !important; float:right; clear:right; overflow:hidden; }
.actrbox .unrel{ width:265px; min-height:260px; float:left; clear:both; background:#eeeeee; }
.actrbox .unrel .reltit{ width:255px; height:40px; float:left; margin:0 15px; border-bottom:1px solid #cccccc;}
.actrbox .unrel .reltit h2{ line-height:40px; font-size:16px; color:#333333; margin: auto;}
.cont ul{margin-top: 48px;}
.cont ul li{padding: 4px 6px 10px 15px;width: 250px; margin-bottom: 3px;}
.cont ul li a{color: #716d6d;  height: 25px; line-height: 25px; width: 255px; display: block; display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1;  overflow: hidden; }
.note-time{ color: #716d6d; font-size: 12px;}
.lbox{height: 100px; border-top: solid 1px #cccccc; padding:10px 10px 15px 10px; margin-bottom: 10px;}
.img-header{width: 1200px;height: 100px; margin: -20px;  margin-bottom: 10px; background:url(../img/staff-header.png) }
.con-header{width: 1200px;height: auto !important; margin: 10px -20px 20px 0; }
.notice-tit{font-size: 16px;}

.staff-name{font-weight: 600;}
.note-con{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; color: #716d6d; height: 43px; font-size: 14px;}
.note-info{ width: auto;   margin-bottom: 15px; padding-bottom: 8px;color: #716d6d;}
.note-xq{font-size: 12px; margin-right: 10px;}
.rtop-box{width: 100%; height: 80px; border: solid 1px #cccccc; background-color: #52ABD7;}
.rtop-left{margin-left: 10px;position: absolute;  top: -17px;   font-size: 80px;  color: rgba(0, 0, 0, 0.15);}
.rtop-right{float: right; clear: both; margin-right: 15px; line-height: 80px; font-size: 35px;  color: rgba(0, 0, 0, 0.15);}
.small-box:hover .rtop-left {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

/*注册*/
#registe-box{width: 600px;}
.loginfrom{  height:auto !important; float:left;  margin: -10px 0 20px 0; padding:20px; border-radius:8px;}
.loginfrom h2{font-size: 20px;color: #0099cc; font-weight: 200; padding-bottom:10px;}
.loginfrom ul li{ width:100%; height:34px; float:left; clear:both; padding:14px 0; position:relative;margin-bottom: 20px;}
.loginfrom ul li label{ width:135px; float:left; line-height:40px; text-align:right; padding-right:20px; font-size:15px; color: #757575;}
.loginfrom ul li .text{ width:290px; float:left; border:1px solid #dedede; padding:2px 10px; height:34px; line-height:34px; font-size:14px;}
.loginfrom ul li .code{ width:140px; float:left; border:1px solid #dedede; padding:2px 10px; height:34px; line-height:34px; font-size:14px;}
.loginfrom ul li .yzmcode{ float:left; margin-left:20px; width:130px; height:40px; border-radius:4px;}
.loginfrom ul li span{ height:34px; line-height:34px; position:absolute; top:16px; z-index:100; margin-left: 0;}
.loginfrom .submint{ width:300px; height:50px; float:left; margin:30px 350px; background:#0066cc; line-height:50px; text-align:center; color:#ffffff; font-size:20px; border:0; outline:none; border-radius:6px;}


.Validform_checktip{margin-left:15px;line-height:34px;height:34px;overflow:hidden;color:#999;font-size:12px;}
.Validform_right{ /*background:url(../img/icon_success.png) #ffffff no-repeat 10px center; background-size:16px auto; color:#71b83d;padding-left:30px;*/ display:none;}
.Validform_wrong{color:red;padding-left:30px;white-space:nowrap;background:url(../css/icons/icon_error.png) no-repeat 10px center; background-size:16px auto;}
.Validform_loading{padding-left:30px;background:url(../css/icons/loding.gif) no-repeat 10px center; background-size:16px auto;}
.Validform_error{}

.showbox{ width:100%; height:100%; position:fixed; background-color:rgba(0,0,0,0.5); z-index:1000000; display:none;}
.showbox .showwin{ width:400px; height:200px; position:fixed; left:50%; top:50%; background:#ffffff; z-index:1000001; margin-top:-200px; margin-left:-200px; border-radius:4px;}
.showbox .showwin .showcontent{ width:100%; height:100%; float:left; clear:both; position:relative;text-align:center;}
.showbox .showwin .showcontent .showclose{ position:absolute; right:20px; top:10px; font-size:18px; color:#333333; cursor:pointer;}
.showbox .showwin .showcontent .showtitle{ width:360px; height:50px; text-align:center; font-size:16px; color:#0066cc; margin:0 20px; float:left; clear:both; line-height:50px; border-bottom:1px solid #dedede;}
.showbox .showwin .showcontent .showtext{ width:360px; height:100px; padding:20px;  margin: 10px 0 0 20px; float:left; clear:both; text-align:center; line-height:20px;color:#0066cc;}
.showbox .showwin .showcontent .btnclose{ float:left; clear:both; width:60px; padding:5px 10px; background:#cccccc; border-radius:4px; margin:20px 140px;color:#ffffff;}

